.achievement-section {
  background-color: $darkblue;
  padding: 100px 0;
  text-align: center;

  @include laptops {
    padding: 30px 0 100px 0px;
  }
  @media (max-width: 768px) {
    padding: 32px 0 60px 0px !important ;
  }

  .achievement-heading {
    max-width: 794px;
    margin: 0 auto;
    @include tablet {
      max-width: 550px;
    }
  }
}

.achievement-cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 27px;
  max-width: 1600px;

  margin: 167px auto 0px auto;
  padding: 0 20px;

  @media (max-width: 1024px) {
    gap: 25px;

    margin: 124px auto 0px auto;
  }

  @include mobile {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  @include exteraSmall {
    grid-template-columns: 1fr;
  }
}

.achievement-card {
  background: $blue;
  border-radius: 16px;
  padding: 0;
  transition: all 0.4s ease;
  position: relative;
  overflow: visible;
  min-height: 214px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    min-height: 212px;
  }

  .achievement-icon-wrapper {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 95px;
    height: 95px;
    img {
      width: 50px;
    }

    .icon-inner {
      width: 75px;
      height: 75px;
    }

    @include tablet {
      width: 89px;
      height: 89px;
      .icon-inner {
        width: 69px;
        height: 69px;
        img {
          width: 40px;
        }
      }
    }
  }

  .achievement-count {
    font-family: "Poppins", sans-serif;
    font-size: 53px;
    font-weight: 600;
    color: $red;
    margin-bottom: 15px;
    margin-top: 34px;
    line-height: 1;

    @media (max-width: 1024px) {
      font-size: 37px;
      margin-bottom: 10px;
    }
  }

  .achievement-label {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
    font-weight: 400;
    letter-spacing: 0.5px;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}

// Animations
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}
