// $blue: #141d28;
$blue: #121212;
$white: #fff;
$red: #ff4237;
$lightred :#ff423733;
$lightgary: #dddddd;
$gray:#1D1D1D;
$darkRed: #43242b;
$lightWhite:#ffffff1a;
// $darkblue: #17222f;
$darkblue: #1C1C1F;
$darkgray: #2e3843;
$lightBlue: #17222fcc;
$darkColor: #1a1a1a;
$borderColor: rgba(255, 255, 255, 0.1);
$borderColor2:#dddddd4d;
$textColor:#D9D9D9;