.pricing-section {
  padding: 107px 0 80px 0px;

  @include tablet {
    padding: 60px 0;
  }

  @include mobile {
    padding: 40px 0;
  }
}

.pricing-container {
  max-width: 1600px;
  margin: 0 auto;
  padding:  0px 20px ;

  @include tablet {
  max-width: 600px;

  }
}
.pricing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  // max-width: 1600px;
  // margin:  130px auto 0px auto;

  margin-top: 130px;

  @include laptops {
    gap: 30px;
  }

  @include tablet {
    grid-template-columns: 1fr;
    gap: 15px;
    margin-top: 40px;
  }
}

.pricing-card {
  background-color: transparent;
  border-radius: 20px;
  padding: 40px 30px;
  transition: all 0.3s ease;
  border: 2px solid $lightWhite;

  @include laptops {
    padding: 35px 25px;
  }

  @include mobile {
    padding: 30px 20px;
  }

  &:hover {
    transform: translateY(-5px);
    // border-color: rgba($red, 0.3);
  }
  .header-container {
    background-color: $gray;
    border-radius: 8px;
    padding: 18px 17px;
    margin-bottom: 42px;
  }
  .arrow-icon {
    color: $white;
    font-size: 20px;
    font-weight: 700;
  }
}

.pricing-card-highlighted {
  background-color: $gray;
  border: none;
  transform: scale(1.1) !important;
  .pricing-plan-name,
  .pricing-price,
  .pricing-delivery,
  .feature-text {
    color: $white !important;
  }
  .circle-icon {
    background-color: $lightWhite;
    border-radius: 100px;
  }
  .icon-inner {
    background-color: $white;
  }
  .arrow-icon {
    color: $red;
  }

  .feature-icon svg {
    fill: $white;
  }

  &:hover {
    border-color: $darkRed;
  }
  .header-container {
    background-color: $red;
  }

  @include tablet{
  transform: scale(1) !important;

  }
}

.pricing-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    margin-bottom: 15px;
  }
}

.pricing-plan-name {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 20px;
}

.pricing-amount {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.pricing-price {
  font-size: 48px;
  line-height: 1;
  font-weight: 500;
  color: $red !important;
  @include laptops {
    font-size: 40px;
  }

  @include mobile {
    font-size: 36px;
  }
}

.pricing-delivery {
  opacity: 0.6;
  font-size: 15px;
  font-weight: 600;
  color: $lightgary;
  @include mobile {
    font-size: 11px;
  }
}

.pricing-icon {
  margin: 0px !important;
  width: 65px;
  height: 65px;

  .icon-inner {
    width: 50px;
    height: 50px;
    img {
      width: 30px;
    }
  }
}

.pricing-features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pricing-feature-item {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 16px;
  img {
    width: 23px;
  }
  @include mobile {
    margin-bottom: 14px;
    gap: 10px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.feature-icon {
  font-size: 30px;

  //   flex-shrink: 0;
  //   width: 8px;
  //   height: 8px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;

  //   svg {
  //     fill: $red;
  //     width: 100%;
  //     height: 100%;
  //   }

  //   @include mobile {
  //     width: 7px;
  //     height: 7px;
  //   }
}

.pricing-card-highlighted .feature-icon svg {
  fill: $white;
}

.feature-text {
  flex: 1;
  color: $lightgary;
  font-size: 14px;

  @include laptops {
    font-size: 13px;
  }

  @include mobile {
    font-size: 12px;
  }
}
